// 用于配置常用的 CSS 变量

// UI 字体
$font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica,
  'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

// UI 主色
$main-color: #d70d18;

// UI 辅色
$button-color: #57c29d;
